<!DOCTYPE html>
<html>
  <head>

	<title>List of activity</title>
	<meta name="description" content="Activities">
	<meta charset="utf-8">
	<script src="https://kit.fontawesome.com/f554ec71bd.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/style.css">

</head>

<body>
<div class="banner">

        <div class="container2">
      <div class="bird-container">
        <div class="bird"></div>
      </div>
    </div>

		<h1 class="title">Activities for a nice teambuilding</h1>

		<h2 class="title">Find the bests activities for a good time with your team.</h2>



</div>


  	<div class="container">


      <% @activities.each do |activity| %>


        <div class="card">
            <h2 class="activity"><%= activity["name"] %></h2>
            <p class="category"><%= activity["category"] %></p>
            <div class="ilu">
              <img src=<%= activity["image"] %> alt="Paris">
            </div>


        <div class="locaprice">
          <div class="localisation">
            <i class="fas fa-map-marked-alt"></i>   <%= activity["city"] %>
          </div>

          <div class="price">
            <i class="fas fa-dollar-sign"></i>   <%= activity["price"] %> €
          </div>
        </div>

        <div class="footer_left">
          <ul>
            <li><i class="fas fa-users"></i>   <strong><%= activity["participants"] %></strong> people </li>
            <li><i class="fas fa-stopwatch"></i>   <strong><%= activity["duration"] %></strong> mins </li>
          </ul>
        </div>

        <div class="footer_right">
          <a href="#" class="btn-blue">Check this out</a>
        </div>


        </div>
      <% end %>
	  </div>



</body>

</html>
