<!DOCTYPE html>
<html>
  <head>

	<title>List of activity</title>
	<meta name="description" content="Activities">
	<meta charset="utf-8">
	<script src="https://kit.fontawesome.com/f554ec71bd.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/style.css">

</head>

<body>
<div class="banner" id="top">

		<h1 class="title">Activities for a nice teambuilding</h1>
		<h2 class="title">Find the bests activities for a good time with your team.</h2>
		</div>


  	<div class="container">


      <% @activities.each do |activity| %>


        <div class="card">
          <h2><%= activity["name"] %></h2>
          <p id="category"><STRONG><%= activity["category"] %></STRONG></p></br>
          <img src=<%= activity["image"] %> alt="Paris">
          <ul>
            <li class="infos"><i class="fas fa-map-marked-alt"></i>   <%= activity["city"] %></li>
            <li class="infos"><i class="fas fa-stopwatch"></i>   <%= activity["duration"] %> mins</li>
            <li class="infos"><i class="fas fa-users"></i>   <%= activity["participants"] %> personnes</li>
            <li class="infos"><i class="fas fa-dollar-sign"></i>   <%= activity["price"] %><strong> €</strong></li>
          </ul>
        </div>
      <% end %>
	  </div>




</body>

</html>
